# Run as a unique, less privileged user for security reasons.
# user www-data www-data; # user group
user nginx;

# The file storing the process ID of the main process
pid /var/run/nginx.pid;

# Sets the worker threads to the number of CPU cores available in the system for best performance.
# Set NGINX_PROCESSES_AUTOTUNE=on to enable auto-tuning.
# Maximum number of connections = worker_processes * worker_connections
worker_processes $NGINX_WORKER_PROCESSES;

# Enables Just-In-Time compiling of PCRE (regular expressions) at configuration load time to significantly speed up processing of regular expressions.
pcre_jit on;

# Reduces timer resolution in worker processes, thus reducing the number of gettimeofday() system calls made. By default, gettimeofday() is called each time a kernel event is received. With reduced resolution, gettimeofday() is only called once per specified interval.
timer_resolution 100ms;

# Defines named thread pools used for multi-threaded reading and sending of files without blocking worker processes.
thread_pool default threads=32 max_queue=65536;

error_log  /var/log/nginx/error.log $NGINX_ERROR_LOG_LEVEL;
